  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    * {
      @apply m-0 p-0 box-border
    }

    body,
    html {
      @apply w-screen flex justify-center items-center overflow-x-hidden scroll-smooth font-inter;
    }

    .progress-bar {
      @apply bg-violet-700 fixed top-16 inset-x-0 h-1 origin-left;
    }
  }

  ::-webkit-scrollbar {
    height: 7px;
    width: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #6d29d9;
    -webkit-border-radius: 1ex;
  }